.Product-cards{
            position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
}

#img-cards{
    padding: 0rem;
    background-color: #fff;
    /* border: 5px solid #dee2e6; */
    border-radius: 10rem;
    max-width: 100%;
    height: auto;
}

#all-cards{

}